


.g1-content-wrapper {
display: flex;
flex-direction: row;
}



li {
  font-size: 18pt;
  padding-top:1rem
}

h1 {
  padding-bottom: 1rem;
}

.g1-left-bar {

background-color: rgb(247, 247, 247);
width: 60px;
height: 100vh;


}

.g1-server-column {
background-color: rgb(0, 180, 180);
width: 400px;
}

.g1-channel-column {
background-color: rgb(54, 41, 54);
width: 100vh;
min-width: 100%;
}

.g1-icon-text {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-decoration: none;
    color: #ffffff
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}


.g1-server-icons { 
    align-content: center;
    background-color: rgb(38, 0, 73);
    border-radius: 6px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    margin-top: 15px;
    width: 40px;
    height: 40px;
    
}