.login-wrapper {
    background-color: rgb(190, 225, 255);
    display: flex;
    flex-direction: column;
    max-width: 400px;
    padding: 2rem 2rem 2rem 2rem;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-items: center;
    filter: drop-shadow(10px 10px white);
}

.title-style {
    font-family: fantasy;
    color: blueviolet;
    font-size: 80pt;
    filter: drop-shadow(6px 6px white);
    

}

.form-box {
    background-color: blueviolet;
    border: 4px;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    height: 2rem;
    width: 90%;
    margin-top: .5rem;
    color: white;
    font-weight: 700;
    padding-left: 1rem;
}



/* .login-item {
    display: flex;
    justify-content: auto;
    margin-top: 1rem;
} */

.form-text{
    font-weight: 800;
    color: blueviolet;
    padding-bottom: 1rem;
    padding-left: 1rem;
    font-size: 16pt;
}



.login-item{
    display: grid;
    margin-top: 1rem;
}



.login-button {
    padding-right: 2rem;
    border: 2px;
    border-color: blueviolet;
    border-style: solid;
    height: 3rem;
    font-weight: 800;
    font-size: 18pt;
    color: blueviolet;
    filter: drop-shadow(10px 10px);
}

   .signup-button {
    border: 2px;
    border-color: blueviolet;
    border-style: solid;
    height: 3rem;
    font-weight: 800;
    font-size: 18pt;
    color: blueviolet;
    filter: drop-shadow(10px 10px);
    margin-left: 10rem;    
}

.signup-text {
    padding-top: 2rem;
    padding-bottom: 1rem;
    color: blueviolet;
    font-weight: 600;
}

