.navbar {
  display: flex;
  flex-direction: row;
  background-color: rgb(35, 0, 49);
  padding: 1rem 0 1rem 0;
  margin-bottom: 2rem;
}

.login-button {
  padding-left: 2rem;
}
.servers-button {
  height: 30px;
  margin-left: 1rem;
  margin-right: 1rem;
  background-color: white;
  font-weight: 700;
  font-size: large;
}

.create-server-button {
  height: 30px;
  background-color: white;
  font-weight: 700;
  font-size: large;
}

.profile-dropdown {
  position: absolute;
  background-color: green;
}

.button-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding-right: 2rem;
}

.session-buttons {
  padding-right: 2rem;
}
.button-top {
  padding-right: 25px;
  padding-left: 2rem;
}